


.hero  {


    background-image: url(./assets/images/landing-header-turkey.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      
}

.hero__image_container {
    position: relative;

    width: 50%;
}

.hero__image_container img {
   position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero__text_overlay {
     position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-150%, -50%);
}
