


.impresum_container {
    font-family: 'Arima';
 max-width: 800px;
 margin: 40px auto;
}

h1{
    font-family: 'Arima';
     font-size: 20px;
}
    
.footer a {
text-decoration: none;
color: white;
}

.footer a:hover{
    text-decoration: underline;
    text-underline-offset: 4px;
    color: #F1C953;
}