


.sektion_impresum{
    font-family: 'Arima';
     font-size: 20px;
     
}

.sektion_impresum >p{
    

}

.footer a {
text-decoration: none;
color: white;
}

.footer a:hover{
    text-decoration: underline;
    text-underline-offset: 4px;
    color: #F1C953;
