*{
margin: 0;
box-sizing: border-box;
}

:root {
  --color-green: #4ea487;
  --color-yellow: #f1c953;

  --color-text-brown: #54370d;
  --color-text-dark: #3d3d3d;

  --color-navbar: #F8F5EB;
  --color-white: #ffffff;
}

/* arima-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Arima';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/arima-v7-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* arima-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Arima';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/arima-v7-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* arima-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Arima';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/arima-v7-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


